.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/web.iml
.idea/workspace.xml
apps/__pycache__/
apps/blog/__pycache__/
apps/blog/migrations/__pycache__/
apps/gallery/__pycache__/
apps/gallery/migrations/__pycache__/
apps/hearthstone/__pycache__/
apps/hearthstone/migrations/__pycache__/
apps/home/__pycache__/
apps/home/migrations/0003_webvisit.py
apps/home/migrations/__pycache__/
apps/project/__pycache__/
apps/project/migrations/0009_auto_20200427_1417.py
apps/project/migrations/0010_yzbvisit_region.py
apps/project/migrations/0011_auto_20200429_0923.py
apps/project/migrations/__pycache__/
apps/project/templatetags/__pycache__/
apps/project/utils/__pycache__/
apps/xadmin/__pycache__/
apps/xadmin/migrations/__pycache__/
apps/xadmin/plugins/__pycache__/
apps/xadmin/templatetags/__pycache__/
apps/xadmin/views/__pycache__/
utils/__pycache__/
venv/
web/__pycache__/
/web/settings.py
/web/urls.py
