{% extends 'base.html' %}
{% block title %}游廊{% endblock %}
{% block top_javascript %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29231762-1']);
        _gaq.push(['_setDomainName', 'dzyngiri.com']);
        _gaq.push(['_trackPageview']);

        {#(function () {#}
        {#    var ga = document.createElement('script');#}
        {#    ga.type = 'text/javascript';#}
        {#    ga.async = true;#}
        {#    ga.src = ('https:' == document.location.protocol ? 'https//ssl' : 'http//www') + '.google-analytics.com/ga.js';#}
        {#    var s = document.getElementsByTagName('script')[0];#}
        {#    s.parentNode.insertBefore(ga, s);#}
        {#})
        ();
        #}
    </script>
{% endblock %}
{% block main %}
    <div class="bg-content">
        <!-- Content -->
        <div id="content">
            <div class="ic"></div>
            <div class="container">
                <div class="row">
                    <article class="span12">
                        <h4>游廊</h4>
                    </article>
                    <div class="clear"></div>
                    <ul class="portfolio clearfix">
                        {% for picture in pages %}
                            <li class="box">
                                <a href="{{ picture.image.url }}" class="magnifier">
                                    <img alt="{{ picture.alt }}" src="{{ picture.image_270x192.url }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="pagination pagination-centered">
                        <ul>
                            {% if pages.has_previous %}
                                <li><a class="page-link" href="{% url 'gallery:list' pages.previous_page_number %}">上一页</a></li>
                            {% else %}
                                <li class="disabled"><a class="page-link">上一页</a></li>
                            {% endif %}

                            {% for page_number in page_range %}
                                <li class="page-item {% if page_number == pages.number %}active{% endif %}"><a
                                        class="page-link"
                                        href="{% url 'gallery:list' page_number %}">{{ page_number }}</a>
                                </li>
                            {% endfor %}

                            {% if pages.has_next %}
                                <li><a class="page-link" href="{% url 'gallery:list' pages.next_page_number %}">下一页</a></li>
                            {% else %}
                                <li class="disabled"><a class="page-link">下一页</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}