{% extends 'base.html' %}
{% block title %}游廊{% endblock %}
{% block top_javascript %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29231762-1']);
        _gaq.push(['_setDomainName', 'dzyngiri.com']);
        _gaq.push(['_trackPageview']);

        {#(function () {#}
        {#    var ga = document.createElement('script');#}
        {#    ga.type = 'text/javascript';#}
        {#    ga.async = true;#}
        {#    ga.src = ('https:' == document.location.protocol ? 'https//ssl' : 'http//www') + '.google-analytics.com/ga.js';#}
        {#    var s = document.getElementsByTagName('script')[0];#}
        {#    s.parentNode.insertBefore(ga, s);#}
        {#})();#}
    </script>
{% endblock %}
{% block main %}
    <div class="bg-content">
        <!-- Content -->
        <div id="content">
            <div class="ic"></div>
            <div class="container">
                <div class="row">
                    <article class="span12">
                        <h4>游廊</h4>
                    </article>
                    <div class="clear"></div>
                    <ul class="portfolio clearfix">
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/1.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/2.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/3.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/4.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/5.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/6.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/7.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/8.jpg' %}"></a>
                        </li>
                        <div class="clear"></div>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/9.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/10.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/11.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/12.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/13.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/14.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/15.jpg' %}"></a>
                        </li>
                        <li class="box"><a href="{% static 'img/image-blank.png' %}" class="magnifier"><img alt=""
                                                                                                            src="{% static 'img/work/16.jpg' %}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}