{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block main %}
    <div class="bg-content">
        <!--  content  -->
        <div id="content">
            <div class="ic"></div>
            <div class="container">
                <div class="row">
                    <article class="span12">
                        <div class="inner-1">
                            <div class="post-detail">
                                <h3>{{ post.title }}</h3>
                                <div class="post-meta">
                                    <time datetime="{{ post.add_time }}" class="date-1"><i
                                            class="icon-calendar icon-white"></i>
                                        {{ post.add_time }}
                                    </time>
                                    <div class="name-author"><i class="icon-user icon-white"></i> <a href="#">Ciel</a>
                                    </div>
                                    <div class="post-category">
                                        <p class="category">分类:</p>
                                        {% for category in post.category.all %}
                                            <a href="{% url 'blog:index_category' category.sub_name %}"
                                               class="category">{{ category.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="clear"></div>
                                {% if post.image %}
                                    <img alt="" src="{{ post.image.url }}">
                                {% endif %}
                                <div class="post-content post-inner">
                                    {{ post.content|safe }}
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_javascript %}
    <script>
        $(function () {
            $(".post-detail>.clear").next().addClass("center");
        })
    </script>
{% endblock %}